.on {
  background-color: aqua;
  border: oldlace;
  width: 3cm;
  height: 1cm;
  border-radius: 10cm;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.off {
  background-color: aqua;
  border: oldlace;
  width: 3cm;
  height: 1cm;
  border-radius: 10cm;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


body {
  /* margin: 0;
  padding: 0; */
  /* box-sizing: border-box; */
  /* font-family: cursive; */
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pa {
  font-size: larger;
  font-style: oblique;
}